h1 {
  background-color: #cce6ff;
}
h1 {
  color: black;
  text-align: center;
  }
h1 {
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
p {
  font-size: 18px;
  color: black;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
